{% extends "index.html" %}

{% block admin_view %}




  <!-- Section: Block Content -->
  <section>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="media white z-depth-1 rounded">
          <i class="far fa-money-bill-alt fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
          <div class="media-body p-1">
              <p class="text-uppercase text-muted mb-1"><small>Users</small></p>
           <h5 class="font-weight-bold mb-0">{{ users_data | length }}</h5>
            </div>
        </div>


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="media white z-depth-1 rounded">
          <i class="fas fa-chart-bar fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
          <div class="media-body p-1">
            <p class="text-uppercase text-muted mb-1"><small>Tasks</small></p>
            <h5 class="font-weight-bold mb-0">{{ tasks_data |length }}</h5>
          </div>
        </div>


      </div>


      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="media white z-depth-1 rounded">
          <i class="fas fa-check"></i>
          <div class="media-body p-1">
            <p class="text-uppercase text-muted mb-1"><small>Completed</small></p>
            <h5 class="font-weight-bold mb-0">{{ complete |length }}</h5>
          </div>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="media white z-depth-1 rounded">
          <i class="fas fa-download fa-lg pink z-depth-1 p-4 rounded-left text-white mr-3"></i>
          <div class="media-body p-1">
            <p class="text-uppercase text-muted mb-1"><small>Pending</small></p>
            <h5 class="font-weight-bold mb-0">{{ pending }}</h5>
          </div>
        </div>

      </div>




    </div>
    <!--Grid row-->

  </section>
  <!-- Section: Block Content -->


<!--Navbar-->
  {% for key,value in data.items() %}
        <nav class="navbar navbar-light navbar-1 white">
          <!-- Navbar brand -->
          <a class="navbar-brand">{{ key }}</a>

          <!-- Collapse button -->
          <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
                class="fas fa-bars fa-1x"></i></span></button>

          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent1">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  {% for line in value %}
                        <a class="nav-link"> {{ line[0] }}  <span class="sr-only">(current)</span></a>
                  {% endfor %}
                </li>
            </ul>
            <!-- Links -->

          </div>
          <!-- Collapsible content -->

        </nav>
    {% endfor %}



{% endblock %}