{% extends "index.html" %}

{% block admin_view %}

<div class="container my-5 py-5">


  <!-- Section: Block Content -->
  <section>

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="media white z-depth-1 rounded">
          <i class="far fa-money-bill-alt fa-lg blue z-depth-1 p-4 rounded-left text-white mr-3"></i>
          <div class="media-body p-1">
            <p class="text-uppercase text-muted mb-1"><small>Users</small></p>
            <h5 class="font-weight-bold mb-0">{{ users_data | length }}</h5>
          </div>
        </div>


      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="media white z-depth-1 rounded">
          <i class="fas fa-chart-bar fa-lg deep-purple z-depth-1 p-4 rounded-left text-white mr-3"></i>
          <div class="media-body p-1">
            <p class="text-uppercase text-muted mb-1"><small>Tasks</small></p>
            <h5 class="font-weight-bold mb-0">{{ tasks_data |length }}</h5>
          </div>
        </div>


      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!-- Section: Block Content -->


</div>

{% endblock %}